---
import { Icon } from 'astro-icon'
---

<footer class="footer">
  <div class="footer-icons">
    <a
      target="_blank"
      title="Discord server invite"
      href="https://discord.gg/BMESwz5wE4"
    >
      <Icon name="simple-icons:discord" />
    </a>
    <a
      target="_blank"
      title="Github organization"
      href="https://github.com/terworking/"
    >
      <Icon name="simple-icons:github" />
    </a>
    <a
      target="_blank"
      title="Source code"
      href="https://github.com/terworking/birthday-notify"
    >
      <Icon name="simple-icons:git" />
    </a>
    <a
      target="_blank"
      title="Instagram account"
      href="https://www.instagram.com/terworking/"
    >
      <Icon name="simple-icons:instagram" />
    </a>
    <a
      target="_blank"
      title="Youtube channel"
      href="https://www.youtube.com/@terworking"
    >
      <Icon name="simple-icons:youtube" />
    </a>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
</style>
