---
import IconDiscord from '~icons/simple-icons/discord'
import IconGithub from '~icons/simple-icons/github'
import IconGit from '~icons/simple-icons/git'
import IconInstagram from '~icons/simple-icons/instagram'
import IconYoutube from '~icons/simple-icons/youtube'
---

<footer class="footer">
  <div class="footer-icons">
    <a
      target="_blank"
      title="Discord server invite"
      href="https://discord.gg/BMESwz5wE4"
    >
      <IconDiscord />
    </a>
    <a
      target="_blank"
      title="Github organization"
      href="https://github.com/terworking/"
    >
      <IconGithub />
    </a>
    <a
      target="_blank"
      title="Source code"
      href="https://github.com/terworking/birthday-notify"
    >
      <IconGit />
    </a>
    <a
      target="_blank"
      title="Instagram account"
      href="https://www.instagram.com/terworking/"
    >
      <IconInstagram />
    </a>
    <a
      target="_blank"
      title="Youtube channel"
      href="https://www.youtube.com/@terworking"
    >
      <IconYoutube />
    </a>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
</style>
