---
import AppClock from '~components/AppClock.vue'
import AppFooter from '~components/AppFooter.astro'

import 'modern-normalize'
import '~styles/global.css'
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="content">
      <AppClock client:only />

      <main>
        <slot />
      </main>

      <AppFooter />
    </div>
  </body>
</html>

<style>
  .content {
    padding: 32px 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .content > :global(*) {
    width: 100%;
    max-width: 350px;
  }
</style>
