body {
	background-color: var(--t-bg-color);
	color: var(--t-color);
}

.t-icon {
	color: var(--t-color);
	width: 1.75rem;
	height: 1.75rem;
}

.t-icon:hover {
	color: var(--t-color-alt);
}

@media (prefers-color-scheme: light) {
	:root {
		--t-bg-color: #fdf6e3;
		--t-bg-color-alt: #eee8d5;
		--t-color: #839496;
		--t-color-alt: #93a1a1;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--t-bg-color: #002b36;
		--t-bg-color-alt: #073642;
		--t-color: #657b83;
		--t-color-alt: #586e75;
	}
}
